<div class="container">
    <div class="chart-bar"> <app-chart-bar (click)="onClick($event)" [day]="expenses[0].day" [valueY]="normalizedAmount[0]" [valueH]="valueH[0]" [value]="expenses[0].amount" [selected]="selectedTable[0]" ></app-chart-bar> </div>
    <div class="chart-bar"> <app-chart-bar (click)="onClick($event)" [day]="expenses[1].day" [valueY]="normalizedAmount[1]" [valueH]="valueH[1]" [value]="expenses[1].amount" [selected]="selectedTable[1]"></app-chart-bar> </div>
    <div class="chart-bar"> <app-chart-bar (click)="onClick($event)" [day]="expenses[2].day" [valueY]="normalizedAmount[2]" [valueH]="valueH[2]" [value]="expenses[2].amount" [selected]="selectedTable[2]"></app-chart-bar> </div>
    <div class="chart-bar"> <app-chart-bar (click)="onClick($event)" [day]="expenses[3].day" [valueY]="normalizedAmount[3]" [valueH]="valueH[3]" [value]="expenses[3].amount" [selected]="selectedTable[3]"></app-chart-bar> </div>
    <div class="chart-bar"> <app-chart-bar (click)="onClick($event)" [day]="expenses[4].day" [valueY]="normalizedAmount[4]" [valueH]="valueH[4]" [value]="expenses[4].amount" [selected]="selectedTable[4]"></app-chart-bar> </div>
    <div class="chart-bar"> <app-chart-bar (click)="onClick($event)" [day]="expenses[5].day" [valueY]="normalizedAmount[5]" [valueH]="valueH[5]" [value]="expenses[5].amount" [selected]="selectedTable[5]"></app-chart-bar> </div>
    <div class="chart-bar"> <app-chart-bar (click)="onClick($event)" [day]="expenses[6].day" [valueY]="normalizedAmount[6]" [valueH]="valueH[6]" [value]="expenses[6].amount" [selected]="selectedTable[6]"></app-chart-bar> </div>
</div>

<svg class="svg-divider" viewbox="0 0 700 30">
    <g>
        <line x1="30" y1="5" x2="475" y2="5" stroke="grey" />
    </g>
</svg>

<svg class="svg-divider-mobile" viewbox="0 0 700 30">
    <g>
        <line x1="30" y1="5" x2="200" y2="5" stroke="grey" />
    </g>
</svg>


