.container {
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 300px;
    padding-left: 26px;
}

@media(max-width:500px) {
    .container {
        display: inline-flex;
        height: 50vw;
        padding-left: 3vw;
    }

    .svg-divider {
        display: none;
    }

    .svg-divider-mobile {
        display: block;
    }


}

ul {
    list-style: none;
    align-items: center;
}

.svg-divider {
    width: 500px;
}

.svg-divider-mobile {
    display: none;
}